<div class="container mt-5">

  <div class="container mt-3">
    <%= form_with url: encode_path, html: { class: 'form-inline' }, method: :post do |form| %>
      <div class="row">
        <div class="col">
          <%= form.text_field :original_url, class: 'form-control', placeholder: 'Enter original_link here' %>
        </div>
        <div class="col">
          <%= form.submit "Encode", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container mt-3">
    <%= form_with url: decode_path, html: { class: 'form-inline' }, method: :get do |form| %>
      <div class="row">
        <div class="col">
          <%= form.text_field :short_url, class: 'form-control', placeholder: 'Enter short_link here' %>
        </div>
        <div class="col">
          <%= form.submit "Decode", class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
